body {
  margin: 0;
  padding: 0;
  background: #535353;
  font-family: sans-serif;
}

.PageLayout {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 15px 5px #0000003b;
}

/*.Modal {*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*  background-color: #fff;*/
/*  padding: 20px;*/
/*  border-radius: 8px;*/
/*  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);*/
/*  max-width: 80%;*/
/*  width: 400px;*/
/*}*/

/*.Modal h2 {*/
/*  color: #333;*/
/*}*/

/*.Modal ul {*/
/*  list-style: none;*/
/*  padding: 0;*/
/*}*/

/*.Modal li {*/
/*  margin-bottom: 10px;*/
/*}*/

/*.Modal button {*/
/*  background-color: #fff;*/
/*  color: #333;*/
/*  padding: 5px 10px;*/
/*  cursor: pointer;*/
/*  border: 1px solid #333;*/
/*  border-radius: 4px;*/
/*}*/

/*.Modal button:hover {*/
/*  background-color: #333;*/
/*  color: #fff;*/
/*}*/