.CartItem {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
  border-top: 1px dashed #ccc;
}

.CartItem-code {
  padding: 20px 10px 20px 20px;
}

.CartItem-title {
  width: 100%;
  padding: 20px 10px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.CartItem-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 10px;
}

.CartItem-price {
  display: flex;
  align-items: center;
  margin-right: 62px;
  color: #404040;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: end;
}

.CartItem-price::after {
  content: '₽';
  margin-left: 5px;
}

.CartItem-quantity {
  display: flex;
  align-items: center;
  margin-right: 24px;
  color: #404040;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.CartItem-quantity::after {
  content: 'шт';
  margin-left: 6px;
}

.CartItem-removeBtn {
  width: 76px;
  height: 22px;
  border-radius: 2px;
  border: 1px solid #767676;
  background: #EFEFEF;
  cursor: pointer;
}